#hDropZone {
    transition: all 0.3s ease-in-out;
}

#hDropZone .dropzone {
    border: 2px dashed #ccc;
    border-radius: 5px;
    height: 200px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#hDropZone.drag-over {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
